.cor {
  width: 282px;
  height: 92px;
  border-radius: 10px 10px 0 0;
  background-color: #57c278;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.card {
  position: relative;
  width: 242px;
  height: 252px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: 'Calibri', "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 20px;
}

img {
  width: 120px;
  border-radius: 120px;
  margin: 20px;
  z-index: 2;
  position: relative;
}

h4 {
  color: #6278f7;
  font-size: 25px;
  margin: 0;
}

p {
  font-size: 20px;
  font-weight: 300;
  margin: 0;

}